Web_service/Utilizator/Utilizator/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="No" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="Shop" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertDBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectdb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Shop" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectdbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectdbResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="deleteDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Product" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Shop" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteDBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Product" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Shop" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nPrice" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="nShop" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateDBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectAnItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Shop" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectAnItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectAnItemResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertDBSoapIn">
    <wsdl:part name="parameters" element="tns:insertDB" />
  </wsdl:message>
  <wsdl:message name="insertDBSoapOut">
    <wsdl:part name="parameters" element="tns:insertDBResponse" />
  </wsdl:message>
  <wsdl:message name="selectdbSoapIn">
    <wsdl:part name="parameters" element="tns:selectdb" />
  </wsdl:message>
  <wsdl:message name="selectdbSoapOut">
    <wsdl:part name="parameters" element="tns:selectdbResponse" />
  </wsdl:message>
  <wsdl:message name="deleteDBSoapIn">
    <wsdl:part name="parameters" element="tns:deleteDB" />
  </wsdl:message>
  <wsdl:message name="deleteDBSoapOut">
    <wsdl:part name="parameters" element="tns:deleteDBResponse" />
  </wsdl:message>
  <wsdl:message name="updateDBSoapIn">
    <wsdl:part name="parameters" element="tns:updateDB" />
  </wsdl:message>
  <wsdl:message name="updateDBSoapOut">
    <wsdl:part name="parameters" element="tns:updateDBResponse" />
  </wsdl:message>
  <wsdl:message name="selectAnItemSoapIn">
    <wsdl:part name="parameters" element="tns:selectAnItem" />
  </wsdl:message>
  <wsdl:message name="selectAnItemSoapOut">
    <wsdl:part name="parameters" element="tns:selectAnItemResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="insertDB">
      <wsdl:input message="tns:insertDBSoapIn" />
      <wsdl:output message="tns:insertDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectdb">
      <wsdl:input message="tns:selectdbSoapIn" />
      <wsdl:output message="tns:selectdbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteDB">
      <wsdl:input message="tns:deleteDBSoapIn" />
      <wsdl:output message="tns:deleteDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateDB">
      <wsdl:input message="tns:updateDBSoapIn" />
      <wsdl:output message="tns:updateDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectAnItem">
      <wsdl:input message="tns:selectAnItemSoapIn" />
      <wsdl:output message="tns:selectAnItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertDB">
      <soap:operation soapAction="http://tempuri.org/insertDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectdb">
      <soap:operation soapAction="http://tempuri.org/selectdb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDB">
      <soap:operation soapAction="http://tempuri.org/deleteDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDB">
      <soap:operation soapAction="http://tempuri.org/updateDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAnItem">
      <soap:operation soapAction="http://tempuri.org/selectAnItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertDB">
      <soap12:operation soapAction="http://tempuri.org/insertDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectdb">
      <soap12:operation soapAction="http://tempuri.org/selectdb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDB">
      <soap12:operation soapAction="http://tempuri.org/deleteDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDB">
      <soap12:operation soapAction="http://tempuri.org/updateDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAnItem">
      <soap12:operation soapAction="http://tempuri.org/selectAnItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44340/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44340/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>